h1, h2, h3 {
    color: pink;
    font-family: cursive;
    font-size: 150%;
}

p {
  color:#6471cf;
}

p.selected {
  color: pink;
  font-family: cursive;
  font-size: 100%;
  text-indent: 20px;
  margin-left: 10px;
}

#output {
    background-color: #6471cf;
    width: 500px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 1px #;
    font-size: 20px;
}

#filestructure {
    width:200px;
}
#screenshot1, #screenshot2, #screenshot3, #screenshot4, #screenshot5, #screensh {
    width: 500px;
}
